@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    background-color: #faf4ec;
   
    font-family: 'Inter', sans-serif;
}
#overlay{
  clip-path: polygon(0 58%, 100% 41%, 100% 100%, 0% 100%);

}